#upload label img{
    height: 30px;
    padding: 3.5px;
    border-radius: 3px;
    background-color: var(--body-background-color);
}

main {
    display: flex;
    justify-content: center;
    background-color: var(--body-background-color);
    background-image: url(../images/background_flowers.webp);

}

form {
    background-color: var(--light-green-transp);
    backdrop-filter: blur(3px);
    padding: 20px 40px;
    margin: 20px 0;
    border-radius: 8px;
}

form li {
    display: flex;
    list-style: none;
    margin-bottom: 0.7em;
    gap: 10px;

}

form li label {
    font-family: var(--paragraph-font);
}

form li input, form li select {
    flex-grow: 1;
}

form ul {
    padding: 0;
}

form input[type="file"] {
    display: none;
}

li button[type="submit"] {
    margin-left: auto;
    background-color: var(--body-background-color);
    padding: 4px 8px;
    border: none;
    border-radius: 3px;
}

li button[type="submit"]:hover {
    background-color: var(--light-pink);
    color: var(--dark-grey)

}


