
main {
    font-family: var(--titles-font);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-top: 10px solid var(--light-pink);
    
}

main h2 {
    font-size: 0.95em;
    font-weight: bolder;
}


#images {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    justify-items: center;
    gap: 20px;
    width: 100%;
    
}

main div img {
    max-width: 100%;
    width: 250px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1; /* serve para deixar as imagens quadradinhas de igual tamanho*/
}

#add_button {
    margin-top: 30px;
    margin-left: auto;
    display: none;
}

#add_button img {
    padding-top: 30px;
    height: 35px;
    width: 35px;
}



@media screen and (max-width: 600px){
    #images {
        grid-template-columns:repeat(2, 1fr) ;
    }

    #add_button {
        display: block;
    }
   
}
