:root {
    --font-family: "Playfair Display", serif;
    --background: #f7f6ec;
	--typography: #30342d;
    --accent: #15ec9a;
    --accent-dark: #1bc886;
}

html, body {
	height: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background);
	color: var(--typography);
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
    padding: 1rem 2rem;
}

h1 {
    background-color: var(--typography);
    color: var(--background);
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 0.75rem;
    box-sizing: border-box;
}
form {
    min-width: 50%;
}
form>div {
    display: flex;
	flex-direction: column;
	justify-content: center;
    gap: 0.2rem;
}

.usefulFeatures {
    display: grid;
    grid-template-columns: 2rem 1fr;
}

input[type="submit"] {
    border: none;
    background-color: var(--accent);
    color: var(--typography);
    padding: 1rem 2rem;
    margin-top: 1rem;
}
input[type="submit"]:hover {
    background-color: var(--accent-dark);
}

input[type="text"], input[type="date"], select {
    padding: 0.5rem;
}

input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: gold;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

footer {
    background-color: var(--accent);
    color: var(--typography);
    text-align: center;
    padding: 0.7em;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}
footer h4, footer h5 {
    margin: 10px;
}
