:root {
    --font-family:"Archivo", sans-serif; ;
    --light-blue: #8ECAE6;
    --medium-blue:#219EBC;
    --dark-blue: #023047;
    --yellow:#FFB703;
    --orange:#FB8500;
}

body {
    font-family: var(--font-family);
}

header {
    background-color: var(--medium-blue);
    padding: 5px 0;
    border-bottom: 10px solid var(--yellow);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */   
}

header h1 {
    color: white;
    font-size: 1.2em;
}

#hero {
    width: 100%;
    height: auto;
    display: block;
}


