:root {
    --font-family:"Archivo", sans-serif; ;
    --light-blue: #8ECAE6;
    --medium-blue:#006b99;
    --dark-blue: #023047;
    --yellow:#ffa303da;
    --orange:#FB8500;
    --light-yellow: #fcefd2;
    --white :#ffff;
}

body {
    font-family: var(--font-family);
    height: 100%;
    margin: 0; /* tira a margem e a borda default do navegador*/
    padding: 0;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--medium-blue);
    padding: 20px 0;
    border-bottom: 10px solid var(--yellow);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */   
}

header h1 {
    color: var(--white);
    font-size: 2rem;
}

#hero {
    width: 100%;
    height: auto;
    display: block;
}

.data {
    background-color: var(--light-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    line-height: 0.5em;
    margin-top: 10px;
    padding-top: 20px;    
}

#weather-icon {
    width: 35%;
}

footer {
    display: flex;
    flex-direction:column;
    width: 100%;
    background-color: var(--medium-blue);
    padding: 20px 0;
    justify-content: center; 
    align-items: center;
}

footer h4, footer h5 {
    font-size: 0.8em;
    color: var(--white);
    margin: 0;
    padding: 0;
    line-height: 2;
} 


