@media screen and (min-width:700px) {
    header {
        padding: 20px 0;
        border-bottom: 20px solid var(--yellow);
    }
    header h1 {
        color: white;
        font-size: 2.2em;
    }
    
}