@media screen and (min-width:600px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header h1 {
        grid-area: 1/1 / 2/2;
        margin: 0;
    }
    header nav {
        grid-area: 1/2 / 2/3;
        display: flex;
        flex-direction: row;
    }
    #hamburger-menu {
        display: none;
    }
    .album-container {
        grid-template-columns: 1fr 1fr;
    }
    
    
}


@media screen and (min-width:1000px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }
}